In [5]:
import pandas as pd

In [16]:
df = pd.DataFrame({
    'id': [1,2,3,4],
    'name':['Gajanan','naresh','dgd','Sonali'],
    'age':[25,35,34,32],
    'email':['gajanan@gmail.com','naresh@gmail.com','best@gmail.com','Sonali@gmail.com'],
    'mobile':[798465466,987897846,946513112,978465543]

})

In [17]:
df

   id     name  age              email     mobile
0   1  Gajanan   25  gajanan@gmail.com  798465466
1   2   naresh   35   naresh@gmail.com  987897846
2   3      dgd   34     best@gmail.com  946513112
3   4   Sonali   32   Sonali@gmail.com  978465543